<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Receipts</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li a href="{% url 'logout' %}">Logout</li>
                <li a href="{% url 'create_account' %}">Create Account</li>
                <li a href="{% url 'create_category' %}">Create Category</li>
                <li a href="{% url 'create_receipt' %}">Create Receipt</li>
                {% else %}
                <li a href="{% url 'signup' %}">Sign Up</li>
                <li a href="{% url 'login' %}">Login</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>
